@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-degradado {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    
}
.bg-verdeazul {
    color: white !important;
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #94d30b) !important;
    transition: all 0s ease !important;
}
.bg-inverso {
    color: white !important;
    background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #94d30b) !important;
    transition: all 1s ease !important;
}
.bg-azulvioleta {
    background-image: linear-gradient(to right top, #04a0c0, #329fd0, #5c9bdb, #8596de, #aa8fd8);
}
.bg-color {
    --tw-bg-opacity: 1;
    background-color: rgb(30 27 75 / var(--tw-bg-opacity)) !important;
    color: rgb(255, 158, 250) !important;
}
.bg-transparent{
    transition: all 1s ease;
}

.span {
position: absolute;
background: #fff;
transform: translate(-50%, -50%);
pointer-events: none;
border-radius: 50%;
animation: ani 1s linear infinite;
}
@keyframes ani {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.s;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

